@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.descriptions {
	margin-top: 150px;
	margin-left: 800px;
	line-height: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: semibold;
	position: relative;
}

.description {
	margin-top: 5px;
}

.nextDescriptions {
	margin-top: 300px;
	margin-left: 800px;
	margin-bottom: 150px;
	line-height: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: semibold;
	position: relative;
}

.buttons {
	position: absolute;
	bottom: 20px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.prev {
	margin-left: 10%;
}

.next {
	margin-left: 48%;
}

.button {
	width: 200px;
	height: 50px;
	background: #f3f0f1;
	position: relative;
	background: #f3f0f1;
	border-radius: 16px;
	text-align: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
		6px 6px 10px rgba(0, 0, 0, 0.2);
	color: #6f6cde;
}

.button:hover {
	opacity: 0.3;
	box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
		6px 6px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
	opacity: 1;
	box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
		inset 8px 8px 16px rgba(0, 0, 0, 0.1);
	color: #79e3b6;
}

.span {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: semibold;
}
